<!doctype html>
<meta charset="utf-8">
<title>%TITLE%</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<body class="detail">
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="./">Ztracená ve vlastních snech</a></h1>
			</div>
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title">%TITLE%</h2>
				<p class="meta">%DATE%</p>
				<div class="entry">%CONTENT%</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>

	</div>
</div>

<div id="footer">
	<p><a href="http://clamor.blog.cz/">clamor.blog.cz</a></p>
</div>
</body>
