<!doctype html>
<meta charset="utf-8">
<title>%TITLE%</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<body class="detail">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TT98N9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TT98N9');</script>
<!-- End Google Tag Manager -->
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="./">M.</a></h1>
				<p>Jak se žije fénixům v Británii</p>
			</div>
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title">%TITLE%</h2>
				<p class="meta">%DATE%</p>
				<div class="entry">%CONTENT%</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>

	</div>
</div>

<div id="footer">
	<p><a href="http://phoenixrise.cz/">phoenixrise.cz</a></p>
</div>
</body>
