<!doctype html>
<meta charset="utf-8">
<title>Ztracená ve vlastních snech</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<body class="list">
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="./">Ztracená ve vlastních snech</a></h1>
			</div>
		</div>
	</div>
	<div id="page">
		<div id="content">
			<ul class="list">
				<li>%LIST%</li>
			</ul>
			<div style="clear: both;">&nbsp;</div>
		</div>

	</div>
</div>

<div id="footer">
	<p><a href="http://clamor.blog.cz/">clamor.blog.cz</a></p>
</div>
</body>
